*{
  font-family: sans-serif;
  font-weight: 500;
  font-style: normal;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 75vh;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #E1003C;
  font-weight: bolder;
}

.App-body {
  padding: 20px;
  flex-grow: 1;
  gap: 5px;
}

.App-body label,
.App-body input,
.App-body button {
  margin-right: 10px;
}