body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.App-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.App-logo {
  height: 50px;
  margin-right: 20px;
}

.App-header h1 {
  color: #e1003c;
  font-size: 1.8em;
  margin: 0;
}

.App-divider {
  border-bottom: 2px solid #e1003c;
  width: 100%;
}

.App-body {
  padding: 30px 20px;
  min-height: 400px;
  font-size: 16px;
}

.App-footer {
  text-align: center;
  font-style: italic;
  font-size: 0.9em;
  padding: 15px 0;
  position: relative;
  width: 100%;
}
