/* RESET CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* GENERAL */
#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}